@tailwind base;
@tailwind components;
@tailwind utilities;


/* STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
.btn{
    @apply font-bold;
}

.container{
    max-width: 1350px;
}

.mobile-navigation.active{
    opacity: 1;
    visibility: visible;
    left: 0;
    z-index: 99;
}

.section-heading,
.common-style{
    @apply lg:text-2xl text-xl lg:leading-8 leading-normal uppercase;
}

.common-style{
    @apply max-sm:text-lg;
}

.section-paragraph{
    @apply lg:text-base text-sm lg:leading-5 leading-normal;
}

header li a,
.btn,
footer .social-icons a{
    @apply transition-all ease-linear duration-300;
}

header li a{
    @apply lg:text-lightBlue-100 text-white xl:text-base lg:text-sm text-2xl font-semibold uppercase hover:text-dark-100;
}

header li{
    @apply xl:mr-8 mr-5 max-lg:mb-3;
}

/* BANNER */

.slick-dots li button:before{
    @apply !text-sm !text-white !opacity-100 !leading-[0];
}

.slick-dots .slick-active button:before{
    @apply !text-lightBlue-200;
}

.slick-prev,
.slick-next{
    @apply lg:!h-11 lg:!w-5 !h-8 !w-4 z-10;
}

.slick-prev{
    @apply lg:!left-5 !left-3 before:!bg-[url('../src/img/arrow-left.png')];
}

.slick-next{
    @apply lg:!right-5 !right-3 before:!bg-[url('../src/img/arrow-left.png')] before:rotate-180;
}

.slick-prev:before,
.slick-next:before{
    @apply bg-adjust bg-no-repeat bg-center !h-full !w-full !opacity-100 !block;
}

.banner{
    @apply bg-cover bg-no-repeat bg-center;
}

.banner h1{
    @apply lg:text-3xl text-2xl max-lg:text-center lg:leading-9 leading-normal uppercase text-white xl:w-1/3 md:w-2/4 max-lg:mx-auto w-full;
}

.banner > div{
    @apply lg:pt-28 pt-24 lg:pb-40 pb-32;
}

.btn{
    @apply lg:py-3 py-2 lg:px-7 px-6 lg:text-base text-sm rounded-md bg-white uppercase inline-block border border-white text-dark-100 hover:text-white hover:bg-transparent;
}

.btn{
    @apply block w-fit max-lg:mx-auto;
}

.btn.\!bg-lightBlue-200{
    @apply border-lightBlue-200 hover:!bg-transparent hover:text-lightBlue-200;
}

.banner-slider .slick-dots{
    @apply lg:!bottom-5 !bottom-3;
}

/* FOOTER */

footer .social-icons a{
    @apply before:content-[''] before:bg-white hover:before:bg-dark-200 before:h-full before:w-full md:w-11 md:h-11 max-md:[&_img]:w-3.5 w-9 h-9 flex justify-center items-center bg-dark-200 rounded-md lg:mr-4 mr-3 hover:bg-white;
}

footer .social-icons div:last-child a{
    @apply mr-0;
}

.social-icons div a::before{
    mask-size: 60% 60% !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
}

footer .social-icons div:nth-child(1) a::before{
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='21' viewBox='0 0 21 21'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_351' data-name='Rectangle 351' width='21' height='21' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='linkedin' transform='translate(-944 -4313)'%3E%3Cg id='LINKEDIN-2' data-name='LINKEDIN' transform='translate(944 4313)'%3E%3Cg id='Group_1026' data-name='Group 1026'%3E%3Cg id='Group_1025' data-name='Group 1025' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_325' data-name='Path 325' d='M.346,6.973H4.7V21H.346ZM2.525,0A2.529,2.529,0,1,1,0,2.526,2.527,2.527,0,0,1,2.525,0' fill='%23fff'/%3E%3Cpath id='Path_326' data-name='Path 326' d='M7.433,6.973h4.172V8.891h.058a4.574,4.574,0,0,1,4.119-2.267c4.405,0,5.218,2.9,5.218,6.682V21H16.653V14.18c0-1.626-.033-3.719-2.262-3.719-2.265,0-2.61,1.77-2.61,3.6V21H7.433Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath id='Color_Overlay' data-name='Color Overlay' d='M960.653,4334v-6.82c0-1.626-.034-3.719-2.262-3.719-2.263,0-2.609,1.769-2.609,3.6V4334h-4.348v-14.027h4.172v1.918h.057a4.575,4.575,0,0,1,4.12-2.268c4.4,0,5.217,2.9,5.217,6.682V4334Zm-16.308,0v-14.027H948.7V4334ZM944,4315.526a2.523,2.523,0,1,1,2.524,2.531A2.525,2.525,0,0,1,944,4315.526Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='21' viewBox='0 0 21 21'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_351' data-name='Rectangle 351' width='21' height='21' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='linkedin' transform='translate(-944 -4313)'%3E%3Cg id='LINKEDIN-2' data-name='LINKEDIN' transform='translate(944 4313)'%3E%3Cg id='Group_1026' data-name='Group 1026'%3E%3Cg id='Group_1025' data-name='Group 1025' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_325' data-name='Path 325' d='M.346,6.973H4.7V21H.346ZM2.525,0A2.529,2.529,0,1,1,0,2.526,2.527,2.527,0,0,1,2.525,0' fill='%23fff'/%3E%3Cpath id='Path_326' data-name='Path 326' d='M7.433,6.973h4.172V8.891h.058a4.574,4.574,0,0,1,4.119-2.267c4.405,0,5.218,2.9,5.218,6.682V21H16.653V14.18c0-1.626-.033-3.719-2.262-3.719-2.265,0-2.61,1.77-2.61,3.6V21H7.433Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath id='Color_Overlay' data-name='Color Overlay' d='M960.653,4334v-6.82c0-1.626-.034-3.719-2.262-3.719-2.263,0-2.609,1.769-2.609,3.6V4334h-4.348v-14.027h4.172v1.918h.057a4.575,4.575,0,0,1,4.12-2.268c4.4,0,5.217,2.9,5.217,6.682V4334Zm-16.308,0v-14.027H948.7V4334ZM944,4315.526a2.523,2.523,0,1,1,2.524,2.531A2.525,2.525,0,0,1,944,4315.526Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}

footer .social-icons div:nth-child(2) a::before{
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26.001' height='23' viewBox='0 0 26.001 23'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_353' data-name='Rectangle 353' width='26.001' height='23' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='twitter' transform='translate(-1001 -4314)'%3E%3Cg id='Objet_dynamique_vectoriel' data-name='Objet dynamique vectoriel' transform='translate(1001 4314)'%3E%3Cg id='Group_1030' data-name='Group 1030'%3E%3Cg id='Group_1029' data-name='Group 1029' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_329' data-name='Path 329' d='M7.884,18a5.459,5.459,0,0,1-4.971-4.03A4.894,4.894,0,0,0,5.2,13.893a.4.4,0,0,0,.076-.037A5.371,5.371,0,0,1,1.811,11.19,6,6,0,0,1,1.028,8.1a4.96,4.96,0,0,0,2.377.7,5.881,5.881,0,0,1-2.2-3.524A6.191,6.191,0,0,1,1.78,1.077,14.907,14.907,0,0,0,12.8,7.147c-.031-.23-.065-.432-.086-.637a6.027,6.027,0,0,1,.781-3.8A5.138,5.138,0,0,1,17.116.088a4.951,4.951,0,0,1,4.677,1.619.259.259,0,0,0,.285.092A10.214,10.214,0,0,0,25.184.5a.713.713,0,0,1,.072-.039c0-.005.013,0,.036,0A5.885,5.885,0,0,1,23,3.618a9.6,9.6,0,0,0,2.975-.869L26,2.774c-.2.292-.4.589-.613.87a10.928,10.928,0,0,1-1.941,2.008.2.2,0,0,0-.089.182,17.5,17.5,0,0,1-.1,2.579,18.213,18.213,0,0,1-1.377,5.171,16.877,16.877,0,0,1-2.887,4.578,14.028,14.028,0,0,1-7.342,4.445,14.693,14.693,0,0,1-2.976.386A14.169,14.169,0,0,1,.125,20.5C.093,20.477.059,20.451,0,20.41a10.026,10.026,0,0,0,5.344-.8A10.418,10.418,0,0,0,7.884,18' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath id='Color_Overlay' data-name='Color Overlay' d='M1009.043,4337a14.172,14.172,0,0,1-7.918-2.5c-.032-.021-.066-.048-.124-.088a10.023,10.023,0,0,0,5.343-.8,10.377,10.377,0,0,0,2.54-1.61,5.462,5.462,0,0,1-4.972-4.029,4.9,4.9,0,0,0,2.291-.076.5.5,0,0,0,.077-.037,5.375,5.375,0,0,1-3.47-2.666,6,6,0,0,1-.782-3.088,4.928,4.928,0,0,0,2.376.7,5.877,5.877,0,0,1-2.2-3.523,6.185,6.185,0,0,1,.574-4.207,14.91,14.91,0,0,0,11.018,6.07c-.032-.231-.065-.432-.086-.638a6.03,6.03,0,0,1,.781-3.8,5.133,5.133,0,0,1,3.621-2.624,4.951,4.951,0,0,1,4.677,1.619.262.262,0,0,0,.285.092,10.224,10.224,0,0,0,3.106-1.3c.024-.013.047-.027.072-.038,0-.005.013,0,.035,0a5.88,5.88,0,0,1-2.288,3.16,9.6,9.6,0,0,0,2.975-.869l.022.025c-.2.292-.4.589-.614.87a10.916,10.916,0,0,1-1.941,2.008.2.2,0,0,0-.089.182,17.6,17.6,0,0,1-.1,2.58,18.2,18.2,0,0,1-1.376,5.17,16.88,16.88,0,0,1-2.888,4.579,14.022,14.022,0,0,1-7.342,4.444,14.577,14.577,0,0,1-2.977.386c-.116,0-.233.007-.348.008Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26.001' height='23' viewBox='0 0 26.001 23'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_353' data-name='Rectangle 353' width='26.001' height='23' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='twitter' transform='translate(-1001 -4314)'%3E%3Cg id='Objet_dynamique_vectoriel' data-name='Objet dynamique vectoriel' transform='translate(1001 4314)'%3E%3Cg id='Group_1030' data-name='Group 1030'%3E%3Cg id='Group_1029' data-name='Group 1029' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_329' data-name='Path 329' d='M7.884,18a5.459,5.459,0,0,1-4.971-4.03A4.894,4.894,0,0,0,5.2,13.893a.4.4,0,0,0,.076-.037A5.371,5.371,0,0,1,1.811,11.19,6,6,0,0,1,1.028,8.1a4.96,4.96,0,0,0,2.377.7,5.881,5.881,0,0,1-2.2-3.524A6.191,6.191,0,0,1,1.78,1.077,14.907,14.907,0,0,0,12.8,7.147c-.031-.23-.065-.432-.086-.637a6.027,6.027,0,0,1,.781-3.8A5.138,5.138,0,0,1,17.116.088a4.951,4.951,0,0,1,4.677,1.619.259.259,0,0,0,.285.092A10.214,10.214,0,0,0,25.184.5a.713.713,0,0,1,.072-.039c0-.005.013,0,.036,0A5.885,5.885,0,0,1,23,3.618a9.6,9.6,0,0,0,2.975-.869L26,2.774c-.2.292-.4.589-.613.87a10.928,10.928,0,0,1-1.941,2.008.2.2,0,0,0-.089.182,17.5,17.5,0,0,1-.1,2.579,18.213,18.213,0,0,1-1.377,5.171,16.877,16.877,0,0,1-2.887,4.578,14.028,14.028,0,0,1-7.342,4.445,14.693,14.693,0,0,1-2.976.386A14.169,14.169,0,0,1,.125,20.5C.093,20.477.059,20.451,0,20.41a10.026,10.026,0,0,0,5.344-.8A10.418,10.418,0,0,0,7.884,18' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath id='Color_Overlay' data-name='Color Overlay' d='M1009.043,4337a14.172,14.172,0,0,1-7.918-2.5c-.032-.021-.066-.048-.124-.088a10.023,10.023,0,0,0,5.343-.8,10.377,10.377,0,0,0,2.54-1.61,5.462,5.462,0,0,1-4.972-4.029,4.9,4.9,0,0,0,2.291-.076.5.5,0,0,0,.077-.037,5.375,5.375,0,0,1-3.47-2.666,6,6,0,0,1-.782-3.088,4.928,4.928,0,0,0,2.376.7,5.877,5.877,0,0,1-2.2-3.523,6.185,6.185,0,0,1,.574-4.207,14.91,14.91,0,0,0,11.018,6.07c-.032-.231-.065-.432-.086-.638a6.03,6.03,0,0,1,.781-3.8,5.133,5.133,0,0,1,3.621-2.624,4.951,4.951,0,0,1,4.677,1.619.262.262,0,0,0,.285.092,10.224,10.224,0,0,0,3.106-1.3c.024-.013.047-.027.072-.038,0-.005.013,0,.035,0a5.88,5.88,0,0,1-2.288,3.16,9.6,9.6,0,0,0,2.975-.869l.022.025c-.2.292-.4.589-.614.87a10.916,10.916,0,0,1-1.941,2.008.2.2,0,0,0-.089.182,17.6,17.6,0,0,1-.1,2.58,18.2,18.2,0,0,1-1.376,5.17,16.88,16.88,0,0,1-2.888,4.579,14.022,14.022,0,0,1-7.342,4.444,14.577,14.577,0,0,1-2.977.386c-.116,0-.233.007-.348.008Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");

}

footer .social-icons div:nth-child(3) a::before{
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15.001' height='27' viewBox='0 0 15.001 27'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_355' data-name='Rectangle 355' width='15.001' height='27' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='facebook' transform='translate(0 0)'%3E%3Cg id='Group_1034' data-name='Group 1034'%3E%3Cg id='Group_1033' data-name='Group 1033' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_331' data-name='Path 331' d='M11.961,4.558c.889-.028,1.779-.007,2.672-.007H15V.2c-.476-.045-.972-.109-1.47-.131C12.617.029,11.7-.014,10.789.005A7.017,7.017,0,0,0,6.921,1.129,5.394,5.394,0,0,0,4.6,4.763,11.734,11.734,0,0,0,4.434,6.63c-.026.976-.006,1.951,0,2.929v.366H0v4.86H4.4V27H9.787v-12.2h4.39c.224-1.616.445-3.217.674-4.884-.353,0-.669,0-.987,0-1.248.005-4.114,0-4.114,0s.013-2.409.044-3.454c.042-1.432.946-1.869,2.167-1.91' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15.001' height='27' viewBox='0 0 15.001 27'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_355' data-name='Rectangle 355' width='15.001' height='27' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='facebook' transform='translate(0 0)'%3E%3Cg id='Group_1034' data-name='Group 1034'%3E%3Cg id='Group_1033' data-name='Group 1033' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_331' data-name='Path 331' d='M11.961,4.558c.889-.028,1.779-.007,2.672-.007H15V.2c-.476-.045-.972-.109-1.47-.131C12.617.029,11.7-.014,10.789.005A7.017,7.017,0,0,0,6.921,1.129,5.394,5.394,0,0,0,4.6,4.763,11.734,11.734,0,0,0,4.434,6.63c-.026.976-.006,1.951,0,2.929v.366H0v4.86H4.4V27H9.787v-12.2h4.39c.224-1.616.445-3.217.674-4.884-.353,0-.669,0-.987,0-1.248.005-4.114,0-4.114,0s.013-2.409.044-3.454c.042-1.432.946-1.869,2.167-1.91' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

footer .social-icons div:nth-child(4) a::before{
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30.999' height='20.999' viewBox='0 0 30.999 20.999'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_356' data-name='Rectangle 356' width='30.999' height='20.999' transform='translate(0 0.001)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='youtube' transform='translate(0 -0.001)'%3E%3Cg id='Group_1036' data-name='Group 1036'%3E%3Cg id='Group_1035' data-name='Group 1035' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_332' data-name='Path 332' d='M3.19,20.39A3.552,3.552,0,0,1,.811,18.154C-.22,15.415-.525,3.957,1.459,1.7A3.888,3.888,0,0,1,4.049.369C9.4-.185,25.915-.107,27.821.556A3.67,3.67,0,0,1,30.158,2.73c1.129,2.832,1.168,13.134-.148,15.86a3.568,3.568,0,0,1-1.677,1.636c-1.994,1.01-22.52,1-25.143.163m8.493-5.371c3.213-1.612,6.4-3.208,9.628-4.826L11.683,5.336Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30.999' height='20.999' viewBox='0 0 30.999 20.999'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_356' data-name='Rectangle 356' width='30.999' height='20.999' transform='translate(0 0.001)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='youtube' transform='translate(0 -0.001)'%3E%3Cg id='Group_1036' data-name='Group 1036'%3E%3Cg id='Group_1035' data-name='Group 1035' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_332' data-name='Path 332' d='M3.19,20.39A3.552,3.552,0,0,1,.811,18.154C-.22,15.415-.525,3.957,1.459,1.7A3.888,3.888,0,0,1,4.049.369C9.4-.185,25.915-.107,27.821.556A3.67,3.67,0,0,1,30.158,2.73c1.129,2.832,1.168,13.134-.148,15.86a3.568,3.568,0,0,1-1.677,1.636c-1.994,1.01-22.52,1-25.143.163m8.493-5.371c3.213-1.612,6.4-3.208,9.628-4.826L11.683,5.336Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

footer .social-icons div:nth-child(5) a::before{
    mask: url("data:image/svg+xml,%3Csvg id='instagram' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_357' data-name='Rectangle 357' width='24' height='24' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_1038' data-name='Group 1038'%3E%3Cg id='Group_1037' data-name='Group 1037' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_333' data-name='Path 333' d='M20.247,0H3.753A3.754,3.754,0,0,0,0,3.753V20.247A3.754,3.754,0,0,0,3.753,24H20.247A3.753,3.753,0,0,0,24,20.247V3.753A3.753,3.753,0,0,0,20.247,0M17.138,3.31a.67.67,0,0,1,.67-.669h2.9a.67.67,0,0,1,.67.669v2.9a.67.67,0,0,1-.67.669h-2.9a.67.67,0,0,1-.67-.669ZM7.576,10.268a4.75,4.75,0,0,1,8.848,0A4.707,4.707,0,0,1,16.752,12a4.752,4.752,0,0,1-9.5,0,4.707,4.707,0,0,1,.328-1.733m13.882,9.98a1.213,1.213,0,0,1-1.211,1.211H3.753a1.211,1.211,0,0,1-1.209-1.211v-9.98H4.912A7.3,7.3,0,1,0,19.294,12a7.245,7.245,0,0,0-.207-1.733h2.372Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask: url("data:image/svg+xml,%3Csvg id='instagram' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_357' data-name='Rectangle 357' width='24' height='24' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_1038' data-name='Group 1038'%3E%3Cg id='Group_1037' data-name='Group 1037' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_333' data-name='Path 333' d='M20.247,0H3.753A3.754,3.754,0,0,0,0,3.753V20.247A3.754,3.754,0,0,0,3.753,24H20.247A3.753,3.753,0,0,0,24,20.247V3.753A3.753,3.753,0,0,0,20.247,0M17.138,3.31a.67.67,0,0,1,.67-.669h2.9a.67.67,0,0,1,.67.669v2.9a.67.67,0,0,1-.67.669h-2.9a.67.67,0,0,1-.67-.669ZM7.576,10.268a4.75,4.75,0,0,1,8.848,0A4.707,4.707,0,0,1,16.752,12a4.752,4.752,0,0,1-9.5,0,4.707,4.707,0,0,1,.328-1.733m13.882,9.98a1.213,1.213,0,0,1-1.211,1.211H3.753a1.211,1.211,0,0,1-1.209-1.211v-9.98H4.912A7.3,7.3,0,1,0,19.294,12a7.245,7.245,0,0,0-.207-1.733h2.372Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

/* RECOMMEND */

.recommend li{
    @apply lg:text-base text-sm font-normal text-dark-100;
}

/* CONTRACT */

.contract h3{
    @apply font-Arial xl:text-5xl lg:text-4xl md:text-3xl lg:pb-5 pb-4 text-2xl text-lightBlue-200;
}

.contract h3 span{
    @apply xl:text-2xl lg:text-xl md:text-lg text-base font-normal;
}

.contract-box{
    @apply bg-lightBlue-200/30 text-center lg:p-6 p-4 rounded-md h-full;
}